In [12]:
import pandas as pd 
import numpy as np 
DF = pd.DataFrame

GDP = pd.read_csv("./Data/Countries_GDP.csv")
Country_Metadata = pd.read_csv("./Data/Metadata_Country.csv")


DF.head(GDP)
DF.head(Country_Metadata)

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,NaN
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,NaN
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central,NaN
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola,NaN