### Data Preparation 

To prepare data for our assignment we:  
- downloaded [world bank data](http://data.worldbank.org/indicator/NY.GDP.MKTP.CN)
- fixed the format of GDP data as it contained additional lines not supported by pandas
- removed last unnamed columns from booth GDP and Metadata csv files running the following code: 
`DataFrame.drop(DataFrame.columns[-1], axis=1)`

In [36]:
import pandas as pd 
import numpy as np 
DF = pd.DataFrame

GDP = pd.read_csv("./Data/Countries_GDP.csv")
Country_Metadata = pd.read_csv("./Data/Metadata_Country.csv")


DF.head(GDP)
DF.head(Country_Metadata)

,Unnamed: 0,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern
2,2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
3,3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central
4,4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola