### Data Preparation 

To prepare data for our assignment we:  
- downloaded [world bank data](http://data.worldbank.org/indicator/NY.GDP.MKTP.CN)
- fixed the format of GDP data as it contained additional lines not supported by pandas
- removed last unnamed columns from booth GDP and Metadata csv files running the following code: 
`DataFrame.drop(DataFrame.columns[-1], axis=1)`

In [3]:
# Loading the data and importing libraries
import pandas as pd 
import numpy as np 
DF = pd.DataFrame

GDP = pd.read_csv("./Data/Countries_GDP.csv")
Country_Metadata = pd.read_csv("./Data/Metadata_Country.csv")


DF.head(GDP)
# DF.head(Country_Metadata)

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,0,Aruba,ABW,GDP (current LCU),NY.GDP.MKTP.CN,NaN,NaN,NaN,NaN,NaN,...,4.995621e+09,5.303604e+09,5.340707e+09,5.535448e+09,5.864370e+09,6.078480e+09,4.442524e+09,5.243709e+09,5.870025e+09,6.530946e+09
1,1,Africa Eastern and Southern,AFE,GDP (current LCU),NY.GDP.MKTP.CN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Afghanistan,AFG,GDP (current LCU),NY.GDP.MKTP.CN,NaN,NaN,NaN,NaN,NaN,...,1.176469e+12,1.222756e+12,1.222917e+12,1.285460e+12,1.327690e+12,1.469596e+12,1.534966e+12,1.251172e+12,1.283441e+12,1.357275e+12
3,3,Africa Western and Central,AFW,GDP (current LCU),NY.GDP.MKTP.CN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Angola,AGO,GDP (current LCU),NY.GDP.MKTP.CN,NaN,NaN,NaN,NaN,NaN,...,1.432386e+13,1.395029e+13,1.654956e+13,2.026230e+13,2.562774e+13,3.033043e+13,3.170077e+13,4.453594e+13,5.218400e+13,6.199315e+13

Task 1
Które kraje miały największy wzrost gospodarczy w ostatnich 5 latach.

In [60]:
# Filter data from 2023 and 2019
GDP5Years = GDP[["Country Name", "2019", "2023"]].copy()

# Calculate differences
GDP5Years["Difference"] = GDP["2023"] / GDP["2019"] 
A = GDP5Years.sort_values("Difference", ascending = False)
DF.head(A)

           Country Name          2019          2023  Difference
265            Zimbabwe  2.121744e+11  1.337034e+14  630.158014
206               Sudan  1.956454e+12  7.206934e+13   36.836720
9             Argentina  2.155844e+13  1.914050e+14    8.878423
244             Turkiye  4.317810e+12  2.654572e+13    6.147960
112  Iran, Islamic Rep.  2.736401e+16  1.430393e+17    5.227277